@mixin form_based_auth_font() {
    font-family: 'MuseoSans_300', Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(61, 61, 61, .4);
}

.auth_page {
    .container {
        padding: 0 !important;
        @media (min-width: 600px) {
            padding: 0 15px !important;
        }
        .row {
            .col {
                padding: 0;
                @media (min-width: 600px) {
                    padding: 0 15px;
                }
            }
        }
    }
}

.login_page__form {
    position: relative;
    top: 0;
    @media (min-width: 600px) {
        top: -100px;
    }
}

.auth_form {
    padding: 38px 30px 32px;
    border-radius: 2px;
    background-color: #F2F4FD;
    width: auto;
    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.05);
    margin: 0 auto;
    @media (min-width: 670px) {
        width: 542px;
    }
    &__head {
        margin-bottom: 40px;
        p {
          margin-bottom: 0px;
          text-align: center;
          color: #43425F;
          &:nth-child(1) {
              font-family: 'MuseoSans_700', Helvetica, sans-serif;
              font-size: 21px;
              @media (min-width: 600px) {
                  font-size: 32px;
              }
          }
          &:nth-child(2) {
              font-family: 'MuseoSans_500', Helvetica, sans-serif;
              font-size: 12px;
              @media (min-width: 600px) {
                  font-size: 18px;
              }
          }
        }
    }
    &__body {
        &__row {
            &.flex {
                padding: 25px 0;
                display: flex;
                justify-content: space-between;
                .auth_form__body__row__el {
                    display: flex;
                    align-items: center;
                    height: 32px;
                    margin-bottom: 0;
                }
                a {
                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                    font-size: 12px;
                    color: #324EA3;
                    @media (min-width: 600px) {
                        font-size: 14px;
                    }
                }
            }
            &__tran {
                p {
                  font-family: 'MuseoSans_500', Helvetica, sans-serif;
                  font-size: 14px;
                  color: rgba(67, 66, 95, .8);
                  text-align: center;
                  margin-bottom: 0;
                  @media (min-width: 600px) {
                      font-size: 18px;
                  }
                  a {
                      font-family: 'MuseoSans_700', Helvetica, sans-serif;
                      font-size: 14px;
                      color: #324EA3;
                      @media (min-width: 600px) {
                          font-size: 18px;
                      }
                  }
                }
            }
            &__el {
                margin-bottom: 15px;
                &.reset_margin_bottom {
                  margin-bottom: 0;
                }
                .checkbox {
                    label {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        position: relative;
                        padding-left: 47px;
                        margin-bottom: 0px;
                        height: 32px;
                        span {
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            font-size: 12px;
                            user-select: none;
                            @media (min-width: 600px) {
                                font-size: 14px;
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 32px;
                            height: 32px;
                            border: solid 1px #324EA3;
                            border-radius: 2px;
                            box-shadow: 10px 12px 24px 0px rgba(80,87,94,0.1);
                            background-color: #fff;
                        }
                        &:after {
                            content: '';
                            width: 16px;
                            height: 10px;
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            border: 3px solid #324EA3;
                            border-top: none;
                            border-right: none;
                            background: transparent;
                            opacity: 0;
                            transform: rotate(-45deg);
                            z-index: 1;
                        }
                    }
                    input[type=checkbox] {
                      display: none;
                      &:checked + label:after {
                        opacity: 1;
                      }
                    }
                }
                .form-control {
                    height: 50px;
                    background-color: #fff;
                    border-radius: 2px;
                    box-shadow: 10px 12px 24px 0px rgba(80,87,94,0.1) !important;
                    outline: none !important;
                    border-color: transparent !important;
                    @include form_based_auth_font();
                    &::-webkit-input-placeholder {
                        @include form_based_auth_font();
                    }
                    &::-moz-placeholder {
                        @include form_based_auth_font();
                    }
                    &:-ms-input-placeholder {
                        @include form_based_auth_font();
                    }
                    &:-moz-placeholder {
                        @include form_based_auth_font();
                    }
                }
                .btn {
                    width: 100%;
                    height: 50px;
                    line-height: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;
                    background-color: #FA8F68;
                    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.05) !important;
                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                    font-size: 14px;
                    color: #fff !important;
                    outline: none !important;
                    text-transform: uppercase;
                    @media (min-width: 600px) {
                        height: 60px;
                        font-size: 21px;
                    }
                }
            }
        }
    }
}
.auth_disc {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px 50px;
    @media (min-width: 600px) {
        padding: 0;
    }
    @media (min-width: 670px) {
        width: 542px;
        padding: 0;
    }
    p {
      margin-bottom: 0;
      text-align: center;
      &:nth-child(1) {
          margin-bottom: 20px;
      }
      &:nth-child(2) {
          font-family: 'MuseoSans_500', Helvetica, sans-serif;
          color: #43425F;
          font-size: 12px;
          @media (min-width: 600px) {
              font-size: 18px;
          }
      }
    }
}