.career {
  &__list {
    position: relative;
    top: -90px;
    &__welcome {
      p {
        font-family: 'MuseoSans_500', Helvetica, sans-serif;
        font-size: 14px;
        color: #091540;
        margin-top: 80px;
        text-align: center;
        margin-bottom: 0px;
        a {
          color: #324EA3;
          text-decoration: none !important;
        }
        @media (min-width: 600px) {
          font-size: 21px;
        }
      }
    }
    &__disc {
      p {
        font-family: 'MuseoSans_500', Helvetica, sans-serif;
        font-size: 12px;
        color: #fff;
        margin-bottom: 20px;
        @media (min-width: 600px) {
          font-size: 14px;
        }
      }
    }
    &__item {
      background-color: #fff;
      margin-bottom: 20px;
      box-shadow: 10px 20px 14px 0 rgba(64,69,74,.1);
      border-radius: 2px;
      &.active {
        .career__list__item__info {
          display: block;
        }
        .career__list__item__head {
          background-color: #324EA3;
          .lih__right {
            p {
              &:nth-child(1) {
                color: #fff;
              }
              .btn {
                border-color: #fff;
                background-color: #fff;
                color: #324EA3;
              }
            }
          }
          .lih__left__icon {
            background-color: #fff;
          }
          .lih__left__txt {
            p {
              &:nth-child(1) {
                color: rgba(255, 255, 255, 0.8);
              }
              &:nth-child(2) {
                color: #fff;
              }
              &:nth-child(3) {
                color: #fff;
              }
            }
          }
        }
      }
      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        .lih__left {
          display: flex;
          align-items: center;
          &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 4px;
            background-color: #324EA3;
            margin-right: 10px;
            @media (min-width: 800px) {
              margin-right: 20px;
            }
          }
          &__txt {
            line-height: normal;
            p {
              margin-bottom: 0px;
              line-height: normal;
              &:nth-child(1) {
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                font-size: 12px;
                color: rgba(50, 78, 163, .8);
                text-transform: uppercase;
                margin-bottom: 4px;
                @media (min-width: 600px) {
                  font-size: 14px;
                }
                @media (min-width: 800px) {
                  font-size: 18px;
                }
              }
              &:nth-child(2) {
                width: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                font-size: 14px;
                color: #091540;
                @media (min-width: 600px) {
                  font-size: 18px;
                  width: 212px;
                }
                @media (min-width: 800px) {
                  font-size: 24px;
                  width: auto;
                }
              }
              &:nth-child(3) {
                display: inline;
                font-size: 12px;
                color: #091540;
                font-family: 'MuseoSans_300', Helvetica, sans-serif;
                @media (min-width: 600px) {
                  display: none;
                }
              }
            }
          }
        }
        .lih__right {
          display: none;
          align-items: center;
          @media (min-width: 600px) {
            display: flex;
          }
          p {
            margin-bottom: 0;
            &:nth-child(1) {
              font-family: 'MuseoSans_300', Helvetica, sans-serif;
              color: #091540;
              font-size: 14px;
              @media (min-width: 800px) {
                font-size: 16px;
              }
            }
            &:nth-child(2) {
              margin-left: 10px;
              @media (min-width: 800px) {
                margin-left: 25px
              }
            }
            .btn {
              border-radius: 2px;
              background-color: #324EA3;
              border-color: #324EA3;
              color: #fff;
              padding: 0 10px;
              min-width: 92px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              font-family: 'MuseoSans_500', Helvetica, sans-serif;
              box-shadow: none !important;
              outline: none !important;
              @media (min-width: 800px) {
                font-size: 14px;
                min-width: 136px;
              }
            }
          }
        }
      }
      &__info {
        display: none;
        padding: 25px 15px 15px;
        &__txt {
          p {
            font-family: 'MuseoSans_300', Helvetica, sans-serif;
            font-size: 12px;
            span {
              font-family: 'MuseoSans_700', Helvetica, sans-serif;
              color: #091540;
            }
            @media (min-width: 600px) {
              font-size: 16px;
            }
          }
        }
        &__cta {
          text-align: center;
          .btn {
            font-family: 'MuseoSans_500', Helvetica, sans-serif;
            font-size: 12px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            height: 36px;
            min-width: 325px;
            border-radius: 2px;
            background-color: #FA8F68;
            border-color: #FA8F68;
            color: #fff !important;
            text-transform: uppercase;
            width: 100%;
            @media (min-width: 600px) {
              width: auto;
              font-size: 21px;
              height: 60px;
            }
          }
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}