.contact-us {
    background-color: #f8f8fd;
    &__office {
        background-image: url("images/bg/contact_us_cover.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        &__title {
            @include title_h2(left);
            @include title_p(left);
            margin-bottom: 60px;
            padding-top: 25px;
            @media (min-width: 1015px) {
                padding-top: 100px;
            }
        }
        &__mobile-form {
            position: relative;
            top: -65px;
            display: block;
            @include contact_us_form();
            @media (min-width: 1015px) {
                display: none;
            }
        }
        &__body {
            padding-bottom: 100px;
            .contact-us__map {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                @media (min-width: 1015px) {
                    flex-direction: row;
                }
                &__left {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-right: 0px;
                    margin-bottom: 50px;
                    @media (min-width: 1015px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        padding-right: 30px;
                        margin-bottom: 0px;
                    }
                    div {
                        position: relative;
                        .pin {
                            position: absolute;
                            top: calc(50% - 25px);
                            left: calc(50% - 25px);
                        }
                        .map {
                            width: 100%;
                            display: none;
                            @media (min-width: 1015px) {
                                display: block;
                            }
                        }
                        .map_mobile {
                            display: block;
                            width: 100%;
                            @media (min-width: 1015px) {
                                display: none;
                            }
                        }
                    }
                }
                &__right {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 0px;
                    @media (min-width: 1015px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        padding-left: 30px;
                    }
                    div {
                        margin-bottom: 40px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        p {
                            margin-bottom: 0px;
                            &:nth-child(1) {
                                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                font-size: 16px;
                                color: #324EA3;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                            }
                            &:nth-child(2) {
                                font-family: 'MuseoSans_300', Helvetica, sans-serif;
                                color: #091540;
                                font-size: 28px;
                                a {
                                    font-family: 'MuseoSans_300', Helvetica, sans-serif;
                                    color: #091540;
                                    font-size: 28px;
                                    text-decoration: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}