html, html a {
    font-family: 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body, p, a {
    font-family: 'Helvetica', sans-serif;
}

.trp-language-switcher-container {
    display: none !important;
}
.site {
    overflow: hidden;
    .container {
        max-width: none;
        padding: 0 15px;
        @media (min-width: 600px) {
            padding: 0 30px;
            max-width: none;
        }
        @media (min-width: 1115px) {
            padding: 0 45px;
            max-width: none;
        }
        @media (min-width: 1350px) {
            padding: 0 149px;
            max-width: none;
        }
        @media (min-width: 1440px) {
            max-width: 1440px;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
            @media (min-width: 769px) {
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }
}