.faq__inside {
    padding-top: 0px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 600px) {
        flex-direction: column-reverse;
    }
    @media (min-width: 1015px) {
        flex-direction: row;
        padding-top: 100px;
    }
    &__left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 55px;
        padding-right: 0;
        @media (min-width: 600px) {
            margin-top: 0;
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
        }
        @media (min-width: 1015px) {
            flex: 0 0 45%;
            max-width: 45%;
            margin-top: 0;
            padding-right: 15px;
        }
        &__wrap-txt {
            text-align: center;
            @media (min-width: 600px) {
                text-align: left;
            }
        }
        &__txt {
          font-family: 'MuseoSans_300', Helvetica, sans-serif;
          font-size: 36px;
          color: #091540;
          margin-bottom: 65px;
          &:nth-child(1) {
            font-family: 'MuseoSans_700', Helvetica, sans-serif;
            font-size: 24px;
            text-align: center;
            color: #43425F;
            margin-bottom: 15px;
            max-width: 270px;
            display: inline-block;
            @media (min-width: 600px) {
                font-family: 'MuseoSans_300', Helvetica, sans-serif;
                font-size: 36px;
                text-align: left;
                color: #091540;
                margin-bottom: 65px;
                max-width: 100%;
            }
          }
          &:nth-child(2) {
            font-family: 'MuseoSans_500', Helvetica, sans-serif;
            font-size: 12px;
            text-align: center;
            color: #43425F;
            max-width: 270px;
            display: inline-block;
            @media (min-width: 600px) {
                font-family: 'MuseoSans_300', Helvetica, sans-serif;
                font-size: 36px;
                text-align: left;
                color: #091540;
                max-width: 100%;
            }
          }
        }
        &__txt-block-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (min-width: 600px) {
                flex-direction: row;
            }
            @media (min-width: 1015px) {
                flex-direction: column;
            }
        }
        &__txt-block {
            margin-bottom: 65px;
            flex: auto;
            max-width: none;
            @media (min-width: 600px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media (min-width: 1015px) {
                flex: auto;
                max-width: none;
            }
            &:nth-child(1) {
                padding-right: 0;
                @media (min-width: 600px) {
                    padding-right: 10px;
                }
                @media (min-width: 1015px) {
                    padding-right: 0;
                }
            }
            &:nth-child(2) {
                padding-left: 0;
                margin-bottom: 0;
                @media (min-width: 600px) {
                    margin-bottom: 65px;
                    padding-left: 10px;
                }
                @media (min-width: 1015px) {
                    padding-left: 0;
                    margin-bottom: 65px;
                }
            }
            &__head {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media (min-width: 600px) {
                    flex-direction: row;
                }
                @media (min-width: 1015px) {
                    flex-direction: column;
                }
                > p {
                    color: rgba(50, 78, 163, .8);
                    text-transform: uppercase;
                    font-size: 16px;
                    @media (min-width: 600px) {
                        font-size: 18px;
                    }
                    &:nth-child(1) {
                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                    }
                    &:nth-child(2) {
                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                    }
                }
            }
            &__block {
              display: inline-flex;
              min-width: 288px;
              width: 100%;
              align-items: center;
              background-color: #fff;
              padding: 10px;
              box-shadow: 10px 12px 24px 0px rgba(80, 87, 94, 0.1);
              @media (min-width: 1015px) {
                width: auto;
              }
              .icon {
                margin-right: 10px;
                img {
                    width: 24px;
                    height: 24px;
                    @media (min-width: 600px) {
                        width: 48px;
                        height: 48px;
                    }
                }
              }
              a {
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                font-size: 16px;
                color: #324EA3;
                text-decoration: none !important;
                @media (min-width: 600px) {
                    font-size: 21px;
                }
              }
            }
        }
        &__also {
            display: none;
            @media (min-width: 600px) {
                display: block;
            }
            p {
                color: rgba(50, 78, 163, .8);
                font-size: 18px;
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                text-transform: uppercase;
            }
            .btn {
                text-transform: uppercase;
                border-radius: 2px;
                background-color: #FA8F68;
                border-color: #FA8F68;
                color: #fff;
                padding: 0 15px;
                min-width: 288px;
                height: 60px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 21px;
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                text-decoration: none !important;
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }
    &__right {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        @media (min-width: 1015px) {
            flex: 0 0 55%;
            max-width: 55%;
            padding-left: 15px;
        }
        .questions {
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            border-radius: 2px;
            position: relative;
            top: 0px;
            margin-top: 55px;
            @media (min-width: 600px) {
                top: -65px;
                padding: 50px 20px 20px;
                background-color: #fff;
                box-shadow: 0px 2px 4px 0px rgba(92,88,88,0.1);
                margin-top: 0;
            }
            @media (min-width: 1015px) {
                top: -190px;
                padding: 50px 20px 20px;
                background-color: #fff;
                box-shadow: 0px 2px 4px 0px rgba(92,88,88,0.1);
                margin-top: 0;
            }
            &__segment {
                margin-bottom: 35px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &__head {
                text-transform: uppercase;
                color: rgba(50, 78, 163, .8);
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                font-size: 16px;
                @media (min-width: 600px) {
                    font-size: 18px;
                }
            }
            &__q {
                &__item {
                    margin-bottom: 25px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    &.active {
                        .questions__q__item__body {
                            display: block;
                        }
                    }
                    &__head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #324EA3;
                        border-radius: 2px;
                        padding: 15px;
                        p {
                            color: #fff;
                            font-family: 'MuseoSans_500', Helvetica, sans-serif;
                            font-size: 14px;
                            margin-bottom: 0px;
                            @media (min-width: 600px) {
                                font-size: 24px;
                            }
                        }
                        a {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          width: 16px;
                          height: 16px;
                          border-radius: 50%;
                          background-color: rgba(255, 255, 255, .5);
                          img {
                              width: 7px;
                              height: 7px;
                              @media (min-width: 600px) {
                                width: 14px;
                                height: 14px;
                              }
                          }
                          @media (min-width: 600px) {
                            width: 30px;
                            height: 30px;
                          }
                        }
                    }
                    &__body {
                        display: none;
                        padding: 15px;
                        background-color: #F8F9FE;
                        box-shadow: 10px 12px 24px 0px rgba(80,87,94,0.1);
                        p {
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            color: rgba(9, 21, 64, .8);
                            font-size: 12px;
                            @media (min-width: 600px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}