@font-face {
    font-family: 'MuseoSans_500';
    src: url("fonts/MuseoSans_500.otf") format('opentype');
}
@font-face {
    font-family: 'MuseoSans_700';
    src: url("fonts/MuseoSans_700.otf") format('opentype');
}
// @font-face {
//     font-family: 'MuseoSans_100';
//     src: url("fonts/MuseoSans-100.otf") format('opentype');
// }
@font-face {
    font-family: 'MuseoSans_300';
    src: url("fonts/MuseoSans-300.otf") format('opentype');
}