.footer-main {
    background: linear-gradient(90deg, #3F72D7 0%, #324EA3 100%);
    &__inside {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('images/bg/footer_shadow.png') no-repeat right bottom;
        }
    }
    &__earn {
        padding-top: 80px;
        &__title {
            p {
                color: #fff;
                text-align: center;
                margin-bottom: 0px;
                &:nth-child(1) {
                    opacity: .8;
                    font-size: 18px;
                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                }
                &:nth-child(2) {
                    line-height: 70px;
                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                    font-size: 48px;
                }
            }
        }
        &__sub {
            margin-top: 30px;
            p {
                text-align: center;
                line-height: normal;
                span {
                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                    &:nth-child(1) {
                        font-size: 72px;
                        color: #fff;
                    }
                    &:nth-child(2) {
                        font-size: 144px;
                        color: #FA8F68;
                    }
                }
                &:nth-child(2) {
                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                    font-size: 18px;
                    color: rgba(255, 255, 255, .8);
                    margin-bottom: 0px;
                }
            }
        }
        &__ad {
            margin-top: 48px;
            .ad_box {
                padding: 32px 32px 24px;
                background-color: #fff;
                border-radius: 2px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__left {
                    p {
                        color: #091540;
                        margin-bottom: 0px;
                        &:nth-child(1) {
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            line-height: 22px;
                            font-size: 18px;
                            margin-bottom: 8px;
                        }
                        &:nth-child(2) {
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            line-height: 50px;
                            font-size: 36px;
                            margin-bottom: 16px;
                            span {
                                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                color: #FF8100;
                            }
                        }
                        &:nth-child(3) {
                            a {
                                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                font-size: 21px;
                                color: #3252AE;
                            }
                        }
                    }
                }
                &__right {
                    .btn {
                        @include orange_btn();
                        width: 295px;
                    }
                }
            }
        }
    }
    &__links {
        padding: 60px 0;
        border-bottom: 1px solid #dee2e6;
        @media (min-width: 600px) {
            padding: 120px 0;
        }
        &__row {
            &__list {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        color: #fff;
                        margin-bottom: 10px;
                        &:nth-child(1) {
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            font-size: 21px;
                            margin-bottom: 20px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            color: #fff;
                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                            font-size: 13px;
                            &.enlarge_link {
                                font-size: 14px;
                                @media (min-width: 600px) {
                                    font-size: 18px;
                                }
                            }
                            &:focus, &:active, &:hover {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                        .white-box {
                            display: inline-block;
                            border-radius: 4px;
                            background-color: #fff;
                            color: #43425f;
                            font-size: 12px;
                            padding: 6px 10px;
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            span {
                                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                color: #8b0bff;
                            }
                        }
                    }
                }
            }
        }
    }
    &__copy {
        &__copyright {
            font-family: 'MuseoSans_700', Helvetica, sans-serif;
            font-size: 12px;
            color: rgba(255, 255, 255, .7);
        }
        &__social {
            &__icon {
                min-width: 1.625rem;
                opacity: .5;
                transition: opacity .25s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    &__disc {
        background-color: #43425f;
        &__text {
            font-family: 'MuseoSans_700', Helvetica, sans-serif;
            color: rgba(255, 255, 255, .6);
            font-size: 12px;
            @media (min-width: 768px) {
                font-size: 10px;
            }
            @media (min-width: 1200px) {
                font-size: 12px;
            }
        }
    }
}