.site-header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 30px;
    @media (min-width: 600px) {
        top: 40px;
    }
    @media (min-width: 769px) {
        top: 40px;
    }
    &__internal {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        max-width: none;
        padding: 0 30px;
        @media (min-width: 600px) {
            padding: 0 30px;
            max-width: none;
        }
        @media (min-width: 1115px) {
            padding: 0 45px;
            max-width: none;
        }
        @media (min-width: 1350px) {
            padding: 0 149px;
            max-width: none;
        }
        @media (min-width: 1440px) {
            max-width: 1440px;
        }
    }
    &__split {
        display: flex;
        align-items: center;
        &:nth-child(1) {
            justify-content: flex-start;
            flex-grow: 1;
        }
        &:nth-child(2) {
            justify-content: flex-end;
        }
    }
    &__segment {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
        }
        &-logo {
            img {
                width: 160px;
                @media (min-width: 769px) {
                    width: auto;
                }
            }
        }
        &-navi {
            display: none;
            padding-left: 100px;
            ul {
                li {
                    margin-right: 32px;
                    a {
                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                        font-size: 13px;
                        color: #fff;
                        &:hover {
                            color: rgba(255,255,255,.75);
                        }
                        &:hover, &:active, &:focus {
                            text-decoration: none;
                        }
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            @media (min-width: 1015px) {
                display: block;
            }
        }
        &-auth {
            display: none;
            ul {
                li {
                    a {
                        color: #fff;
                        font-size: 12px;
                        &:not(.orange_btn) {
                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                            &:hover, &:active, &:focus {
                                text-decoration: none;
                                color: rgba(255,255,255,.75);
                            }
                        }
                        &.orange_btn {
                            font-family: 'MuseoSans_500', Helvetica, sans-serif;
                            padding: 6px 20px;
                            background-color: #fa8f68;
                            border-color: #fa8f68;
                            border-radius: 0;
                            margin-left: 16px;
                            &:hover, &:active, &:focus {
                                background-color: #f97443;
                                border-color: #f97443;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            @media (min-width: 1015px) {
                display: block;
            }
        }
        &-mobile {
            display: block;
            ul {
                li {
                    a {
                        font-size: 14px;
                        color: #fff;
                        &.mobile_navi_blob {
                            width: 35px;
                            height: 35px;
                            border-radius: 3px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &.orange_btn {
                            padding: 6px 20px;
                            background-color: #fa8f68;
                            border-color: #fa8f68;
                            border-radius: 0;
                            margin-left: 16px;
                            &:hover, &:active, &:focus {
                                background-color: #f97443;
                                border-color: #f97443;
                                color: #fff;
                            }
                        }
                    }
                    &:nth-child(2) {
                        display: none;
                        @media (min-width: 768px) {
                            display: block;
                        }
                    }
                }
            }
            @media (min-width: 1015px) {
                display: none;
            }
        }
    }
}