@mixin hero_title() {
    font-family: 'MuseoSans_700', Helvetica, sans-serif;
    line-height: 48px;
    font-size: 32px;
    color: #fff;
    @media (min-width: 600px) {
        line-height: 70px;
    }
    @media (min-width: 880px) {
        font-size: 42px;
        line-height: 70px;
    }
    @media (min-width: 1370px) {
        font-size: 56px;
        line-height: 70px;
    }
}

@mixin hero_desc() {
    font-size: 14px;
    color: #fff;
    @media (min-width: 880px) {
        font-size: 18px;
    }
    @media (min-width: 1370px) {
        font-size: 21px;
    }
}

@mixin form_based_hero_font() {
    font-family: 'MuseoSans_300', Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, .4);
}

@mixin hero_cta() {
    margin-top: 40px;
    .btn {
        width: auto;
        min-width: 197px;
        height: 60px;
        padding: 0 15px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        border-radius: 0;
        border-color: #fa8f68;
        background-color: #fa8f68;
        color: #fff;
        text-transform: uppercase;
    }
}

.site-hero {
    .homepage_hero {
        display: flex;
        justify-content: space-between;
        &__left {
            display: none;
            flex: 0 0 50%;
            max-width: 50%;
            .title {
                @include hero_title();
            }
            .desc {
                @include hero_desc();
            }
            .cta {
                @include hero_cta();
            }
            @media (min-width: 1015px) {
                display: block;
            }
        }
        &__right {
            flex: 0 0 100%;
            max-width: 100%;
            @media (min-width: 1015px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            &__title {
                display: block;
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                font-size: 42px;
                color: #fff;
                margin-bottom: 24px;
                @media (min-width: 1015px) {
                    display: none;
                }
            }
            &__desc {
                display: block;
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                font-size: 18px;
                color: #fff;
                margin-top: 25px;
                @media (min-width: 1015px) {
                    display: none;
                }
            }
            &__cta {
                margin-top: 40px;
                display: block;
                .btn {
                    height: 60px;
                    width: 217px;
                    border-radius: 2px;
                    background-color: #FA8F68;
                    border-color: #FA8F68;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: 'MuseoSans_500', Helvetica, sans-serif;    
                    font-size: 21px;
                }
                @media (min-width: 1015px) {
                    display: none;
                }
            }
            &__video {
                .video_cover {
                    position: relative;
                    display: inline-block;
                    &__desktop-img {
                        display: none;
                        @media (min-width: 1015px) {
                            display: block;
                            width: 100%;
                        }
                    }
                    &__desktop-mobile {
                        display: block;
                        width: 100%;
                        @media (min-width: 1015px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .pressroom_hero {
        position: absolute;
        top: 180px;
        right: 0px;
        .desktop {
            display: none;
            @media (min-width: 1015px) {
                display: block;
            }
        }
        .tablet {
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 1015px) {
                display: none;
            }
        }
    }
    &__root {
        position: relative;
        min-height: 32rem;
        border-bottom: .625rem solid #efc7c2;
        &.homepage {
            @media (min-width: 600px) {
                min-height: 900px;
            }
            @media (min-width: 1015px) {
                min-height: 41.875rem;
            }
            .site-hero__root__content {
                top: 160px;
                @media (min-width: 768px) {
                    top: 160px;
                }
                @media (min-width: 1015px) {
                    top: 200px;
                }
            }
        }
        &.tiny {
            min-height: 200px;
            @media (min-width: 600px) {
                min-height: 300px;
            }
            .site-hero__root__content {
                top: 130px;
            }
            .title, .desc {
                display: none;
                @media (min-width: 996px) {
                    display: block;
                }
            }
        }
        @media (min-width: 768px) {
            min-height: 41.875rem;
        }
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        &__content {
            position: relative;
            top: 160px;
            @media (min-width: 768px) {
                top: 200px;
            }
            .form_based_hero {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__left {
                    flex: 0 0 100%;
                    max-width: 100%;
                    @media (min-width: 1015px) {
                        flex: 0 0 47%;
                        max-width: 47%;
                    }
                }
                &__right {
                    display: none;
                    flex: 0 0 53%;
                    max-width: 53%;
                    @media (min-width: 1015px) {
                        display: block;
                    }
                    @include contact_us_form();
                    .contact_us_form {
                        width: auto;
                        @media (min-width: 1150px) {
                            width: 545px;
                        }
                    }
                }
            }
            .title {
                @include hero_title();
            }
            .desc {
                @include hero_desc();
            }
            .cta {
                @include hero_cta();
            }
            &--how-it-works {
                .hero_image {
                    position: absolute;
                    top: -60px;
                    right: -240px;
                    display: none;
                    @media (min-width: 768px) {
                        display: block;
                        right: -240px;
                    }
                    @media (min-width: 1115px) {
                        display: block;
                        right: -240px;
                    }
                    @media (min-width: 1350px) {
                        right: 0;
                        display: block;
                    }
                }
            }
        }
    }
}