.homepage {
    background: linear-gradient(90deg, rgba(252,253,255,1) 0%, rgba(242,244,253,1) 100%);
    &__offer {
        padding-top: 160px;
        padding-bottom: 160px;
        &__head {
            margin-bottom: 130px;
            @include title_h2(center);
            @include title_p(center);
        }
        .homepage__offer__body {
          position: relative;
          &__img {
            position: absolute;
            top: 0;
            right: 0;
          }
          &__text {
              flex: 0 0 50%;
              max-width: 50%;
              padding-right: 100px !important;
              .block {
                  margin-bottom: 64px;
                  p {
                     line-height: 30px;
                     margin-bottom: 0px;
                     &:nth-child(1) {
                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                        font-size: 18px;
                        color: rgba(50, 78, 163, .8);
                        text-transform: uppercase;
                        margin-bottom: 15px;
                     }
                     &:nth-child(2) {
                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                        font-size: 16px;
                        color: rgba(97, 104, 132, .8);
                     }
                  }
              }
              .cta {
                  width: 228px;
                  .btn {
                      @include orange_btn();
                  }
              }
          }
        } 
    }
    &__key {
        padding-bottom: 160px;
        &__title {
            margin-bottom: 90px;
            @include title_h2(center);
            @include title_p(center);
            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
            @media (min-width: 1015px) {
                @include title_h2(right);
                @include title_p(right);
                margin-bottom: 40px;
            }
        }
        &__body {
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                top: -30px;
                right: 0;
                height: calc(100% + 60px);
                width: 50%;
                background-color: #CAD7FF;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                @media (min-width: 768px) {
                    right: -45px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @media (min-width: 1115px) {
                    right: -45px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @media (min-width: 1350px) {
                    right:  -149px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &__box {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    align-items: normal;
                    justify-content: space-evenly;
                    padding: 45px 0 45px 30px;
                }
                @media (min-width: 1015px) {
                    display: flex;
                    flex-direction: row;
                    align-items: normal;
                    justify-content: flex-end;
                    padding: 45px 0 45px 30px;
                }
                &__item {
                    position: relative;
                    background-color: $base_blue;
                    background-image: url('images/bg/desktop_box_blue_gradient.png');
                    padding: 30px;
                    width: 336px;
                    height: 344px;
                    margin-right: 0px;
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        margin-right: 0px;
                        margin-bottom: 0px;
                        width: 300px;
                    }
                    @media (min-width: 1015px) {
                        margin-right: 40px;
                        margin-bottom: 0px;
                        width: 336px;
                    }
                    &:nth-child(3) {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 0;
                        @media (min-width: 768px) {
                            display: none;
                        }
                        @media (min-width: 1015px) {
                            display: block;
                        }
                    }
                    .icon {
                        width: 60px;
                        height: 60px;
                        border-radius: 4px;
                        background-color: #fff;
                        margin-bottom: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .title {
                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                        font-size: 21px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    .desc {
                        color: rgba(255, 255, 255, .8);
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .how_team_wrap {
        background-image: none;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% 80px;
        background-image: url('images/bg/homepage_rectangle.png');
        // @media (min-width: 1015px) {
        //     background-position: 50% -20px;
        //     background-size: auto;
        //     background-image: url('images/bg/homepage_rectangle.png');
        // }
        // @media (min-width: 1440px) {
        //     background-position: 50% -115px;
        //     background-size: 100%;
        //     background-image: url('images/bg/cross_background.png');
        // }
    }
    &__how {
        padding-bottom: 160px;
        &__title {
            margin-bottom: 120px;
            @include title_h2(center);
            @include title_p(center);
        }
        &__body {
            position: relative;
            .how_cards {
                position: absolute;
                top: -3px;
                right: -114px;
                z-index: 1;
                &__row {
                    display: flex;
                    margin-bottom: 69px;
                    &:nth-child(1) {
                        .how_cards__card {
                            &:nth-child(1) {
                                margin-left: 363px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .how_cards__card {
                            &:nth-child(1) {
                                margin-left: 187px;
                            }
                            &:nth-child(2) {
                                margin-left: 71px;
                                top: -1px;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .how_cards__card {
                            &:nth-child(2) {
                                margin-left: 130px;
                                top: -6px;
                            }
                        }
                    }
                    &:nth-child(4) {
                        .how_cards__card {
                            &:nth-child(1) {
                                margin-left: 210px;
                            }
                            &:nth-child(2) {
                                margin-left: 39px;
                                top: -23px;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                &__card {
                    position: relative;
                    display: flex;
                    border-radius: 4px;
                    background-color: #fff;
                    box-shadow: 0px 4px 6px 0px rgba(93,88,88,0.1);
                    width: 210px;
                    height: 69px;
                    &__left {
                        flex: 0 0 69px;
                        max-width: 69px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        background-color: #9B9BA5;
                        &.color_yellow {
                            background-color: #F5B824;
                        }
                        &.color_green {
                            background: linear-gradient(90deg, #BEEA2E 0%, #52BA00 100%);
                        }
                        &.color_black {
                            background-color: #000;
                        }
                        &.color_light_aqua {
                            background-color: #8A92B2;
                        }
                        &.color_light_blue {
                            background-color: #2573C2;
                        }
                        &.color_blue {
                            background-color: #1F42FF;
                        }
                    }
                    &__right {
                        display: flex;
                        align-items: center;
                        padding-left: 16px;
                        flex-grow: 1;
                        p {
                            line-height: 17px;
                            color: #091540;
                            font-family: 'MuseoSans_300', Helvetica, sans-serif;
                            font-size: 12px;
                            margin-bottom: 0;
                            span {
                                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .home_how {
                display: flex;
                &__left {
                    flex: 0 0 50%;
                    max-width: 50%;
                    .title {
                        @include basic_title();
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }
                    .desc {
                        p {
                            @include basic_text();
                            margin-bottom: 40px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .cta {
                        margin-top: 78px;
                        width: 282px;
                        .btn {
                            @include orange_btn();
                        }
                    }
                }
            }
        }
    }
    &__team {
        &__title {
            margin-bottom: 35px;
            @include title_h2(center);
            @include title_p(center);
            h2 {
                color: #fff;
            }
            p {
                font-size: 16px;
                color: rgba(255, 255, 255, .8);
            }
        }
        &__body {
            .home_team_video {
                margin-bottom: 120px;
                .video_cover {
                    &__desktop-img {
                        width: 100%;
                    }
                }
            }
            .home_team_people {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                margin-bottom: 130px;
                .people_card {
                    flex: 0 0 25%;
                    max-width: 25%;
                    min-height: 422px;
                    height: auto;
                    padding: 0 15px 30px;
                    border-radius: 2px;
                    &__inside {
                      position: relative;
                      padding: 17px 15px 13px;
                      background-color: #fff;
                      box-shadow: 0px 2px 4px 0px rgba(93,88,88,0.1);
                      z-index: 1;
                      &:before {
                          content: '';
                          position: absolute;
                          z-index: -1;
                          top: 0;
                          left: 0;
                          border-top-left-radius: 2px;
                          border-top-right-radius: 2px;
                          width: 100%;
                          height: 134px;
                          background-color: rgba(202,215,256,.5);
                      }
                    }
                    &__title {
                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                        color: #091540;
                        font-size: 24px;
                        text-align: center;
                        margin-bottom: 8px;
                    }
                    &__role {
                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                        color: #091540;
                        text-align: center;
                        margin-bottom: 8px;
                    }
                    &__img {
                        min-height: 230px;
                        background: linear-gradient(90deg, rgba(252,253,255,1) 0%, rgba(242,244,253,1) 100%);
                        margin-bottom: 12px;
                        img {
                          width: 100%;
                        }
                    }
                    &__desc {
                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                        font-size: 12px;
                        color: #616884;
                        text-align: center;
                        line-height: 21px;
                        margin-bottom: 9px;
                    }
                    &__soc {
                        text-align: center;
                        ul {
                            display: inline-flex;
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            li {
                                margin-right: 10px;
                                &:last-child {
                                  margin-right: 0;
                                }
                                a {

                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__stats {
      background: linear-gradient(90deg, rgba(63,114,215,1) 0%, rgba(50,78,163,1) 100%);
      min-height: 505px;
      margin-bottom: 160px;
      &__title {
          margin-top: 80px;
          margin-bottom: 64px;
          p {
            text-align: center;
            color: #fff;
            margin-bottom: 0;
            &:nth-child(1) {
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                font-size: 18px;
                opacity: .8;
            }
            &:nth-child(2) {
                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                font-size: 48px;
                line-height: 70px;
            }
          }
      }
      &__body {
          display: flex;
          .stat_item {
              flex: 0 0 33.3333333%;
              max-width: 33.3333333%;
              &__inside {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  &__icon {
                      width: 68px;
                      height: 68px;
                      background-color: #fff;
                      border-radius: 4px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin-bottom: 24px;
                  }
                  &__price {
                      font-family: 'MuseoSans_700', Helvetica, sans-serif;
                      font-size: 42px;
                      margin-bottom: 8px;
                      text-align: center;
                      color: #fff;
                      span {
                          font-family: 'MuseoSans_300', Helvetica, sans-serif;
                      }
                  }
                  &__desc {
                      font-family: 'MuseoSans_700', Helvetica, sans-serif;
                      font-size: 18px;
                      color: rgba(255, 255, 255, .8);
                      margin-bottom: 0px;
                      text-align: center;
                  }
              }
          }
      }
    }
    &__trust {
        padding-bottom: 160px;
        &__title {
            @include title_h2(center);
            @include title_p(center);
            margin-bottom: 64px;
        }
        &__body {
            .trust_items {
                display: flex;
                margin-right: -15px;
                margin-left: -15px;
                &__row {
                    &:nth-child(1) {
                        flex: 0 0 30%;
                        max-width: 30%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 40%;
                        max-width: 40%;
                    }
                    &:nth-child(3) {
                        flex: 0 0 30%;
                        max-width: 30%;
                    }
                    &__column {
                        .trust_card {
                            padding: 0 15px 30px;
                            &__inside {
                                padding: 15px 15px 17px;
                                border-radius: 2px;
                                box-shadow: 0px 2px 4px 0px rgba(93,88,88,0.2);
                                background-color: #fff;
                                &__img {
                                    position: relative;
                                    margin-bottom: 14px;
                                    img {
                                        width: 100%;
                                    }
                                    .btn {
                                        position: absolute;
                                        top: 10px;
                                        left: 10px;
                                        @include orange_btn();
                                        width: auto;
                                        min-width: 80px;
                                        height: 30px;
                                        font-size: 12px;
                                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                        text-transform: none;
                                        &.l_orange {
                                            background-color: #FFA72E;
                                            border-color: #FFA72E;
                                        }
                                        &.blue {
                                            background-color: #324EA3;
                                            border-color: #324EA3;
                                        }
                                    }
                                }
                                &__title {
                                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                    font-size: 21px;
                                    color: #091540;
                                    margin-bottom: 0px;
                                }
                                &__desc {
                                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                    font-size: 12px;
                                    color: #616884;
                                    margin-top: 14px;
                                    margin-bottom: 10px;
                                    line-height: 21px;
                                }
                                &__date {
                                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                    font-size: 12px;
                                    color: #324EA3;
                                    margin-top: 8px;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            .trust_cta {
                margin-top: 18px;
                text-align: center;
                .btn {
                    border-radius: 2px;
                    height: 40px;
                    width: auto;
                    min-width: 146px;
                    padding: 0 15px;
                    color: #fff;
                    line-height: normal;
                    border-color: #324EA3;
                    background-color: #324EA3;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'MuseoSans_500', Helvetica, sans-serif;
                    font-size: 14px;
                    outline: none !important;
                    box-shadow: 0px 2px 4px 0px rgba(93,88,88,0.1) !important;
                }
            }
        }
    }
}