.how-it-works {
    color: #616884;
    background-color: #f8f8fd;
    &__how {
        padding: 50px 0;
        @media (min-width: 600px) {
            padding: 100px 0;
        }
        &__title {
            margin-bottom: 100px;
            @include title_h2(center);
            @include title_p(center);
            @media (min-width: 1015px) {
                @include title_h2(left);
                @include title_p(left);
                margin-bottom: 40px;
            }
        }
        &__body {
            align-items: center;
            flex-direction: column-reverse;
            @media (min-width: 1015px) {
                flex-direction: row;
            }
        }
        &__left {
            flex: 0 0 100%;
            max-width: 100%;
            @media (min-width: 1015px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            &__block-split {
                display: block;
                &:nth-child(1) {
                    justify-content: space-between;
                    margin-bottom: 25px;
                    @media (min-width: 768px) {
                        margin-bottom: 50px;
                    }
                    .how-it-works__how__left__block {
                        flex: none;
                        max-width: none;
                        @media (min-width: 768px) {
                            flex: 0 0 40%;
                            max-width: 40%;
                        }
                        @media (min-width: 1015px) {
                            flex: none;
                            max-width: none;
                        }
                    }
                }
                &:nth-child(2) {
                    justify-content: center;
                    .how-it-works__how__left__block {
                        flex: none;
                        max-width: none;
                        @media (min-width: 768px) {
                            flex: 0 0 70%;
                            max-width: 70%;
                        }
                        @media (min-width: 1015px) {
                            flex: none;
                            max-width: none;
                        }
                    }
                }
                @media (min-width: 768px) {
                    display: flex;
                }
                @media (min-width: 1015px) {
                    display: block;
                }
            }
            &__block {
                display: block;
                align-items: center;
                margin-bottom: 25px;
                @media (min-width: 768px) {    
                    margin-bottom: 50px;
                }
                @media (min-width: 1015px) {
                    margin-bottom: 50px;
                    display: flex;
                }
                &__icon {
                    margin-right: 0;
                    @media (min-width: 1015px) {
                        margin-right: 15px;
                    }
                    div {
                        background-color: $base_blue;
                        border-radius: 4px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        @media (min-width: 1015px) {
                            margin: 0;
                        }
                    }
                }
                &__text {
                    font-size: 14px;
                    color: $base_blue;
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 0px;
                    @media (min-width: 600px) {
                        margin-top: 0px;
                        font-size: 16px;
                        text-align: left;
                        color: #616884;
                    }
                    @media (min-width: 1015px) {
                        margin-top: 0px;
                        font-size: 16px;
                        text-align: left;
                        color: #616884;
                    }
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        &__right {
            color: #fff;
            display: flex;
            justify-content: center;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 60px;
            @media (min-width: 1015px) {
                flex: 0 0 50%;
                max-width: 50%;
                justify-content: flex-end;
                margin-bottom: 0px;
            }
        }
    }
    .key_trading_wrap {
        background-image: none;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 50% -20px;
        @media (min-width: 1015px) {
            background-position: 50% -20px;
            background-size: auto;
            background-image: url('images/bg/cross_background.png');
        }
        @media (min-width: 1440px) {
            background-position: 50% -115px;
            background-size: 100%;
            background-image: url('images/bg/cross_background.png');
        }
    }
    &__key {
        padding-bottom: 100px;
        &__title {
            margin-bottom: 90px;
            @include title_h2(center);
            @include title_p(center);
            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
            @media (min-width: 1015px) {
                @include title_h2(right);
                @include title_p(right);
                margin-bottom: 40px;
            }
        }
        &__body {
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                position: absolute;
                top: -30px;
                right: 0;
                height: calc(100% + 60px);
                width: 50%;
                background-color: #CAD7FF;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                @media (min-width: 768px) {
                    right: -45px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @media (min-width: 1115px) {
                    right: -45px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                @media (min-width: 1350px) {
                    right:  -149px;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            &__box {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                @media (min-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    align-items: normal;
                    justify-content: space-evenly;
                    padding: 45px 0 45px 30px;
                }
                @media (min-width: 1015px) {
                    display: flex;
                    flex-direction: row;
                    align-items: normal;
                    justify-content: flex-end;
                    padding: 45px 0 45px 30px;
                }
                &__item {
                    position: relative;
                    background-color: $base_blue;
                    background-image: url('images/bg/desktop_box_blue_gradient.png');
                    padding: 30px;
                    width: 336px;
                    height: 344px;
                    margin-right: 0px;
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        margin-right: 0px;
                        margin-bottom: 0px;
                        width: 300px;
                    }
                    @media (min-width: 1015px) {
                        margin-right: 40px;
                        margin-bottom: 0px;
                        width: 336px;
                    }
                    &:nth-child(3) {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 0;
                        @media (min-width: 768px) {
                            display: none;
                        }
                        @media (min-width: 1015px) {
                            display: block;
                        }
                    }
                    .icon {
                        width: 60px;
                        height: 60px;
                        border-radius: 4px;
                        background-color: #fff;
                        margin-bottom: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .title {
                        font-family: 'MuseoSans_700', Helvetica, sans-serif;
                        font-size: 21px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    .desc {
                        color: rgba(255, 255, 255, .8);
                        line-height: 30px;
                    }
                }
            }
        }
    }
    &__trading__mobile {
        display: block;
        margin-bottom: 40px;
        @media (min-width: 1015px) {
            display: none;
        }
        &__title {
            @include title_h2(center);
            @include title_p(center);
            margin-bottom: 60px;
        }
        &__desc-title {
            margin-bottom: 40px;
            h3 {
                text-transform: uppercase;
                margin-bottom: 20px;
                color: $base_blue;
                font-size: 18px;
            }
            p {
                color: #84859a;
                margin-bottom: 0;
            }
        }
        &__disc {
            .container {
                .row {
                    flex-direction: column;
                    align-items: center;
                    .col {
                        width: 100%;
                        @media (min-width: 600px) {
                            width: 80%;
                        }
                    }
                }
            }
            .info_box {
                position: relative;
                background-color: #fff;
                border-radius: 4px;
                border: solid 2px;
                position: relative;
                margin-bottom: 100px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 22px;
                    height: 100%;
                    z-index: 1;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    @media (min-width: 768px) {
                        width: 60px;
                    }
                }
                &__text {
                    position: relative;
                    padding: 15px 15px 15px 40px;
                    @media (min-width: 768px) {
                        padding: 15px 15px 15px 75px;
                    }
                    &__orb {
                        position: absolute;
                        top: -62px;
                        left: calc(50% - 12px);
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    p {
                        margin-bottom: 0;
                        &:nth-child(1) {
                            color: #fa8f68;
                            margin-bottom: 15px;
                        }
                        &:nth-child(2) {
                            margin-bottom: 25px;
                        }
                    }
                }
                &:nth-child(1) {
                    .info_box__text {
                        &:before {
                            content: "";
                            position: absolute;
                            left: calc(50% - 0.5px);
                            bottom: -44px;
                            width: 1px;
                            height: 44px;
                            background-color: $base_blue;
                        }
                    }
                }
                &:nth-child(2) {
                    .info_box__text {
                        &:before {
                            content: "";
                            position: absolute;
                            left: calc(50% - 0.5px);
                            top: -44px;
                            width: 1px;
                            height: 44px;
                            background-color: $base_blue;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            left: calc(50% - 0.5px);
                            bottom: -44px;
                            width: 1px;
                            height: 44px;
                            background-color: $base_blue;
                        }
                    }
                }
                &:nth-child(3) {
                    .info_box__text {
                        &:before {
                            content: "";
                            position: absolute;
                            left: calc(50% - 0.5px);
                            top: -44px;
                            width: 1px;
                            height: 44px;
                            background-color: $base_blue;
                        }
                    }
                }
                &.orange {
                    border-color: #fa8f68;
                    &:before {
                        background-color: #fa8f68;
                        background-image: url('images/bg/free-vector-dots-orange.png');
                    }
                    .info_box__text {
                        p {
                            &:nth-child(1) {
                                color: #fa8f68;
                            }
                        }
                    }
                }
                &.blue {
                    border-color: $base_blue;
                    &:before {
                        background-color: $base_blue;
                        background-image: url('images/bg/free-vector-dots-blue.png');
                    }
                    .info_box__text {
                        p {
                            &:nth-child(1) {
                                color: $base_blue;
                            }
                        }
                    }
                }
            }
        }
    }
    &__trading {
        display: none;
        padding-bottom: 100px;
        @media (min-width: 1015px) {
            display: block;
        }
        &__title {
            @include title_h2(left);
        }
        &__disc {
            &__row {
                &:nth-child(1) {
                    min-height: 290px;
                    max-height: 290px;
                    .col {
                        &.first {
                            padding-right: 0;
                        }
                        &.middle {
                            flex: 0 0 45px;
                            max-width: 45px;
                            padding: 0;
                        }
                        &.last {
                            padding-left: 0;
                        }
                    }
                }
                &:nth-child(2) {
                    margin-top: 130px;
                    .col {
                        &.first {
                            padding-right: 0;
                        }
                        &.middle {
                            position: relative;
                            flex: 0 0 45px;
                            max-width: 45px;
                            padding: 0;
                            &:before {
                                content: "";
                                position: absolute;
                                top: -99.5px;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $base_blue;
                            }
                        }
                        &.last {
                            padding-left: 0;
                        }
                    }
                }
            }
            .info_box {
                background-color: #fff;
                border-radius: 4px;
                border: solid 2px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 100%;
                    z-index: 1;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
                &.orange {
                    border-color: #fa8f68;
                    min-height: 217px;
                    max-height: 217px;
                    &:before {
                        background-color: #fa8f68;
                        background-image: url('images/bg/free-vector-dots-orange.png');
                    }
                    .info_box__text {
                        min-height: 217px;
                        max-height: 217px;
                        position: relative;
                        p {
                            &:nth-child(2) {
                                color: #fa8f68;
                            }
                        }
                        &__orb {
                            position: absolute;
                            left: 12.5px;
                            bottom: -120px;
                            width: 36px;
                            height: 36px;
                            background-image: url('images/icons/orange_round.png');
                            z-index: 1;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            left: 30px;
                            bottom: -83px;
                            width: 1px;
                            height: 85px;
                            background-color: $base_blue;
                        }
                    }
                }
                &.blue {
                    border-color: $base_blue;
                    .info_box__text {
                        position: relative;
                        p {
                            &:nth-child(2) {
                                color: $base_blue;
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            top: -101.5px;
                            height: 1px;
                            background-color: $base_blue;
                        }
                        &.left {
                            &:after {
                                width: calc(20% + 20px);
                                right: -2px;
                            }
                        }
                        &.right {
                            &:after {
                                left: -2px;
                                width: calc(65% + 20px);
                            }
                        }
                        &__orb {
                            position: absolute;
                            top: -18px;
                            width: 36px;
                            height: 36px;
                            background-image: url('images/icons/blue_round.png');
                            z-index: 2;
                            &:before {
                                content: "";
                                position: absolute;
                                left: 17.5px;
                                bottom: 36px;
                                width: 1px;
                                height: 83px;
                                background-color: $base_blue;
                            }
                            &.left {
                                right: 20%;
                            }
                            &.right {
                                left: 65%;
                            }
                        }
                    }
                    &:before {
                        background-color: $base_blue;
                        background-image: url('images/bg/free-vector-dots-blue.png');
                    }
                }
                &.apply_min_height {
                    min-height: 290px;
                }
                &__text {
                    padding: 15px 15px 15px 75px;
                    p {
                        margin-bottom: 0;
                        &:nth-child(2) {
                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                        &:nth-child(3) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            &__left {
                p {
                    color: rgba(97, 104, 132, .8);
                    line-height: 30px;
                    margin-bottom: 0;
                    &:nth-child(1) {
                        margin-bottom: 40px;
                    }
                    &:nth-child(2) {
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        color: $base_blue;
                    }
                    &:nth-child(3) {
                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    &__profit {
        position: relative;
        padding-top: 150px;
        padding-bottom: 160px;
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        // background-color: $base_blue;
        @media (min-width: 600px) {
            padding-bottom: 150px;
        }
        @media (min-width: 1015px) {
            background-image: url('images/bg/how_much_earn_back.png');
            background-color: transparent;
            padding-bottom: 100px;
            padding-top: 0px;
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border-top: 160px solid transparent;
            border-right: 1015px solid $base_blue;
            border-bottom: 160px solid transparent;
            @media (min-width: 1015px) {
                display: none;
            }
        }
        &__title {
            padding: 70px 15px 80px;
            text-align: center;
            color: #fff;
            @media (min-width: 1015px) {
                padding: 120px 15px 110px;
            }
            h2 {
                font-size: 34px;
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                margin-bottom: 25px;
                @media (min-width: 600px) {
                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                    font-size: 48px;
                }
            }
            p {
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                color: rgba(255, 255, 255, .8);
                line-height: 30px;
                margin-bottom: 0px;
                br {
                    display: none;
                    @media (min-width: 600px) {
                        display: inline;
                    }
                }
            }
        }
        &__body {
            > .container {
                @media (max-width: 600px) {
                    padding: 0;
                }
                > .row {
                    > .col {
                        padding-right: 0;
                        padding-left: 0;
                        @media (min-width: 600px) {
                            padding-right: 15px;
                            padding-left: 15px;
                        }
                    }
                }
            }
            .profit_calculator {
                display: block;
                position: relative;
                width: 100%;
                @media (min-width: 768px) {
                    display: flex;
                }
                &__left {
                    background-color: $base_blue;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 15px;
                    @media (min-width: 600px) {
                        max-width: 100%;
                        flex: 0 0 100%;
                        background-color: #fff;
                        padding: 15px;
                    }
                    @media (min-width: 768px) {
                        max-width: 60%;
                        flex: 0 0 60%;
                        background-color: #fff;
                        padding: 40px 30px;
                    }
                    &__curr {
                        background-color: #fff;
                        padding: 15px;
                        @media (min-width: 600px) {
                            padding: 0;
                        }
                        &__title {
                            color: #091540;
                            font-size: 20px;
                            font-family: 'MuseoSans_500', Helvetica, sans-serif;
                        }
                        &__cta {
                            text-align: center;
                            margin-top: 30px;
                            .btn {
                                width: 100%;
                                height: 43px;
                                padding: 0;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 15px;
                                border-radius: 0;
                                color: #fff;
                                text-transform: uppercase;
                                background-color: #fa8f68;
                                border-color: #fa8f68;
                                @media (min-width: 600px) {
                                    width: 302px;
                                    height: 60px;
                                    font-size: 21px;
                                }
                            }
                        }
                        &__sliders {
                            &__slider {
                                &:nth-child(1) {
                                    margin-bottom: 60px;
                                }
                                .slider_headline {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-bottom: 20px;
                                    p {
                                        margin-bottom: 0;
                                        &:nth-child(1) {
                                            font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                            color: #091540;
                                            font-size: 20px;
                                        }
                                        &:nth-child(2) {
                                            font-size: 24px;
                                            color: #FA8F68;    
                                        }
                                    }
                                }
                                .slider_body {
                                    .noUi-target {
                                        box-shadow: none;
                                        border: none;
                                        border-radius: 3px;
                                        height: 6px;
                                        .noUi-base {
                                            background-color: rgba(250,143,104,.2);
                                            .noUi-connects {
                                                .noUi-connect {
                                                    background: $base_blue;
                                                }
                                            }
                                            .noUi-origin {
                                                .noUi-handle {
                                                    width: 32px;
                                                    height: 32px;
                                                    box-shadow: none;
                                                    top: -.8125rem!important;
                                                    background-image: linear-gradient(-270deg,#d0733e 0,#fa8f68 100%);
                                                    border-radius: 50%;
                                                    display: flex;
                                                    border: 0;
                                                    &:before {
                                                        width: 18px;
                                                        height: 18px;
                                                        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
                                                        border-radius: 50%;
                                                        background-color: #fff;
                                                        left: calc(50% - 9px);
                                                        top: calc(50% - 9px);
                                                    }
                                                    &:after {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .slider_bottom {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-top: 15px;
                                    p {
                                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                        margin-bottom: 0px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        &__toggles {
                            margin-bottom: 60px;
                            .btn-group {
                                width: 100%;
                                justify-content: space-between;
                                .btn-group-toggle {
                                    flex: 0 0 30%;
                                    max-width: 30%;
                                    .btn {
                                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                                        width: 100%;
                                        font-size: 16px;
                                        border-width: 2px;
                                        border-radius: 4;
                                        border-color: $base_blue;
                                        color: #43425F;
                                        font-size: 18px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                        padding: 12px 12px;
                                        @media (min-width: 600px) {
                                            flex-direction: row;
                                            font-size: 18px;
                                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                            padding: .375rem .75rem;
                                        }
                                        img {
                                            margin-right: 0;
                                            height: 18px;
                                            margin-bottom: 7px;
                                            @media (min-width: 600px) {
                                                margin-right: 10px;
                                                height: auto;
                                                margin-bottom: 0;
                                            }
                                        }
                                        &:active, &:hover, &:focus, &.active {
                                            background-color: $base_blue;
                                            border-color: $base_blue;
                                            color: #fff;
                                            outline: none !important;
                                            box-shadow: none !important;
                                            img {
                                                filter: brightness(0) invert(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__right {
                    background-image: none;
                    background-repeat: no-repeat;
                    background-size: cover;
                    flex: 0 0 40%;
                    max-width: none;
                    @media (min-width: 600px) {
                        background-image: url('images/bg/calculator_gradient_new.png');
                    }
                    @media (min-width: 768px) {
                        max-width: 40%;
                        background-image: url('images/bg/calculator_gradient_new.png');
                    }
                    &__stats-item {
                        padding: 29px 30px;
                        border-bottom: solid 1px rgba(237, 237, 237, .5);
                        &:last-child {
                            border-bottom-color: transparent;
                        }
                        &.active {
                            background-color: rgba(237, 237, 237, .5);
                            p {
                                &:nth-child(1) {
                                    color: #fff;
                                }
                                &:nth-child(2) {
                                    font-size: 36px;
                                }
                            }
                        }
                        p {
                            color: #fff;
                            text-align: center;
                            margin-bottom: 0;
                            &:nth-child(1) {
                                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                color: rgba(255, 255, 2555, .6);
                                font-size: 20px;
                                margin-bottom: 10px;
                            }
                            &:nth-child(2) {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__comissions {
        padding-bottom: 100px;
        margin-top: 50px;
        @media (min-width: 1015px) {
            margin-top: 0px;
        }
        &__title {
            @include title_h2(center);
            @include title_p(center);
            margin-bottom: 15px;
            @media (min-width: 1015px) {
                @include title_h2(left);
                @include title_p(left);
            }
        }
        &__body {
            align-items: center;
            display: block !important;
            @media (min-width: 1015px) {
                display: flex !important;
            }
        }
        &__left {
            margin-bottom: 30px;
            @media (min-width: 1015px) {
                margin-bottom: 0px;
            }
            p {
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                margin-bottom: 0;
                line-height: 30px;
                color: #616884;
                &:nth-child(1) {
                    margin-bottom: 30px;
                }
            }
        }
        &__right {
            .comissions_table_cta {
                display: block;
                @media (min-width: 600px) {
                    display: none;
                }
                .btn {
                    width: 100%;
                    height: 43px;
                    padding: 0;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    border-radius: 0;
                    color: #fff;
                    text-transform: uppercase;
                    background-color: #fa8f68;
                    border-color: #fa8f68;
                }
            }
            .comissions_table {
                background-color: #fff;
                border: solid 1px $base_blue;
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
                &__row {
                    display: flex;
                    padding: 10px;
                    border-bottom: solid 1px #efc7c2;
                    &:last-child {
                        border-color: transparent;
                    }
                    &__col {
                        &.left {
                            flex: 0 0 60%;
                            .inside {
                                display: flex;
                                align-items: center;
                                .icon {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 4px;
                                    background-color: $base_blue;
                                    margin-right: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                .text {
                                    p {
                                        margin-bottom: 0;
                                        &:nth-child(1) {
                                            font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                            color: #66667E;
                                            font-size: 12px;
                                        }
                                        &:nth-child(2) {
                                            font-size: 18px;
                                            color: $base_blue;
                                        }
                                    }
                                }
                            }
                        }
                        &.right {
                            flex: 0 0 40%;
                            .inside {
                                p {
                                    margin-bottom: 0;
                                    &:nth-child(1) {
                                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                        color: #66667E;
                                        font-size: 12px;
                                    }
                                    &:nth-child(2) {
                                        font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                        font-size: 18px;
                                        color: $base_blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
