$base_blue: #324EA3;

p {
    line-height: 30px;
}

@mixin basic_title() {
    font-family: 'MuseoSans_700', Helvetica, sans-serif;
    color: rgba(50, 78, 163, .8);
}

@mixin basic_text() {
    font-family: 'MuseoSans_500', Helvetica, sans-serif;
    color: rgba(97, 104, 132, .8);
}

@mixin orange_btn() {
    border-radius: 2px;
    height: 60px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    line-height: normal;
    border-color: #FA8F68;
    background-color: #FA8F68;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoSans_500', Helvetica, sans-serif;
    font-size: 21px;
    outline: none !important;
    box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.05) !important;
}

@mixin title_h2($align) {
    h2 {
        font-family: 'MuseoSans_500', Helvetica, sans-serif;
        color: #43425F;
        margin-bottom: 20px;
        font-size: 32px;
        text-align: #{$align};
        @media (min-width: 600px) {
            font-family: 'MuseoSans_700', Helvetica, sans-serif;
            font-size: 48px;
        }
    }
}
@mixin title_p($align) {
    p {
        font-family: 'MuseoSans_500', Helvetica, sans-serif;
        color: #616884;
        font-size: 18px;
        margin-bottom: 0px;
        text-align: #{$align};
        line-height: 30px;
        br {
            display: none;
            @media (min-width: 1015px) {
                display: inline;
            }
        }
    }
}

@mixin contact_us_form() {
    .contact_us_form {
        padding: 25px;
        background-color: #EFC7C2;
        border-radius: 6px;
        &__el {
            margin-bottom: 15px;
            .form-control {
                border-radius: 2px;
                border-width: 0;
                border-color: #979797;
                height: 50px;
                box-shadow: none !important;
                outline: none !important;
                &.textarea {
                    resize: none;
                    height: 150px;
                }
                @include form_based_hero_font();
                &::-webkit-input-placeholder {
                    @include form_based_hero_font();
                }
                &::-moz-placeholder {
                    @include form_based_hero_font();
                }
                &:-ms-input-placeholder {
                    @include form_based_hero_font();
                }
                &:-moz-placeholder {
                    @include form_based_hero_font();
                }
            }
            .btn {
                border-color: #324EA3;
                background-color: #324EA3;
                color: #fff;
                padding: 0 10px;
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                font-size: 21px;
                border-radius: 2px;
                text-transform: uppercase;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}