.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(270deg,#3f72d7 0,#324ea3 100%);
    &.active {
        display: flex;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url('images/decals/triangle-right-white-50.svg') no-repeat top right;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 30px 15px 0;
        a {
            &:nth-child(1) {
                img {
                    width: 120px;
                }
            }
            &:nth-child(2) {
                display: flex;
                width: 35px;
                height: 35px;
                border-radius: 4px;
                background-color: #fff;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__navi {
        margin-top: auto;
        margin-bottom: auto;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                text-align: center;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #fff;
                    font-size: 22px;
                }
            }
        }
    }
    &__auth-navi {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px 30px;
        .btn-signin {
            padding: 12px 35px;
            text-transform: uppercase;
            background-color: #fff;
            border-color: #fff;
            color: #324EA3;
            border-radius: 0;
        }
        .btn-register {
            padding: 12px 35px;
            text-transform: uppercase;
            background-color: #fa8f68;
            border-color: #fa8f68;
            color: #fff;
            border-radius: 0;
        }
    }
}