.pressroom {
    background-color: #f8f8fd;
    &__brands {
        padding-bottom: 100px;
        &__title {
            @include title_h2(center);
            @include title_p(center);
            margin-bottom: 60px;
        }
        &__body {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (min-width: 1015px) {
                flex-wrap: nowrap;
            }
            &__left {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0px;
                margin-bottom: 30px;
                @media (min-width: 1015px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-right: 15px;
                    margin-bottom: 0px;
                }
                &__inside {
                    height: 100%;
                    box-shadow: 0 2px 4px 0 rgba(93, 88, 88, .1);
                    background-image: linear-gradient(270deg, #3f72d7 0, #324ea3 100%);
                    padding: 40px 30px 25px;
                    border-radius: .125rem;
                    @media (min-width: 1200px) {
                        padding: 45px 40px 30px;
                    }
                    .headline {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;
                        p {
                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                            font-size: 24px;
                            margin-bottom: 0;
                            color: #fff;
                        }
                    }
                    .guide {
                        display: flex;
                        justify-content: space-between;
                        height: auto;
                        flex-wrap: wrap;
                        @media (min-width: 600px) {
                            height: 230px;
                            flex-wrap: nowrap;
                        }
                        &__left {
                            flex: 0 0 100%;
                            max-width: 100%;
                            height: 100%;
                            padding-right: 0px;
                            margin-bottom: 20px;
                            @media (min-width: 600px) {
                                flex: 0 0 50%;
                                max-width: 50%;
                                padding-right: 10px;
                                margin-bottom: 0px;
                            }
                            &__inside {
                                background-color: #fff;
                                border-radius: 3px;
                                height: 230px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @media (min-width: 600px) {
                                    height: 100%;
                                }
                            }
                        }
                        &__right {
                            flex: 0 0 100%;
                            max-width: 100%;
                            height: 100%;
                            padding-left: 0px;
                            @media (min-width: 600px) {
                                padding-left: 10px;
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                            &__inside {
                                height: 100%;
                                .t_white {
                                    height: 50%;
                                    padding-bottom: 10px;
                                    &__inside {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 103px;
                                        background-color: #fff;
                                        border: solid 5px #fff;
                                        border-radius: 3px;
                                        @media (min-width: 600px) {
                                            height: 100%;
                                        }
                                        &__img-flex {
                                            display: flex;
                                            align-items: center;
                                            img {
                                                &:nth-child(1) {
                                                    margin-right: 10px;
                                                    width: 39px;
                                                    @media (min-width: 1015px) {
                                                        margin-right: 5px;
                                                        width: 30px;
                                                    }
                                                    @media (min-width: 1200px) {
                                                        margin-right: 10px;
                                                        width: 39px;
                                                    }
                                                }
                                                &:nth-child(2) {
                                                    width: 135px;
                                                    @media (min-width: 1015px) {
                                                        width: 100px;
                                                    }
                                                    @media (min-width: 1200px) {
                                                        width: 135px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .t_black {
                                    height: 50%;
                                    padding-top: 10px;
                                    &__inside {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 103px;
                                        background-color: #43425F;
                                        border: solid 5px #fff;
                                        border-radius: 3px;
                                        @media (min-width: 600px) {
                                            height: 100%;
                                        }
                                        &__img-flex {
                                            display: flex;
                                            align-items: center;
                                            img {
                                                &:nth-child(1) {
                                                    margin-right: 10px;
                                                    width: 39px;
                                                    @media (min-width: 1015px) {
                                                        margin-right: 5px;
                                                        width: 30px;
                                                    }
                                                    @media (min-width: 1200px) {
                                                        margin-right: 10px;
                                                        width: 39px;
                                                    }
                                                }
                                                &:nth-child(2) {
                                                    width: 135px;
                                                    @media (min-width: 1015px) {
                                                        width: 100px;
                                                    }
                                                    @media (min-width: 1200px) {
                                                        width: 135px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .desc {
                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                        color: #fff;
                        margin-bottom: 0;
                        margin-top: 25px;
                    }
                }
            }
            &__right {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0px;
                @media (min-width: 1015px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-left: 15px;
                }
                &__inside {
                    height: 100%;
                    box-shadow: 0 2px 4px 0 rgba(93, 88, 88, .1);
                    background-color: #efc7c2;
                    padding: 40px 30px 25px;
                    border-radius: .125rem;
                    @media (min-width: 1200px) {
                        padding: 45px 40px 30px;
                    }
                    .headline {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 25px;
                        p {
                            font-family: 'MuseoSans_700', Helvetica, sans-serif;
                            font-size: 24px;
                            margin-bottom: 0;
                            color: #091540;
                        }
                    }
                    .guide {
                        height: auto;
                        @media (min-width: 1015px) {
                            height: 230px;
                        }
                        img {
                            width: 100%;
                            max-height: 100%;
                        }
                    }
                    .desc {
                        font-family: 'MuseoSans_300', Helvetica, sans-serif;
                        color: #091540;
                        margin-bottom: 0;
                        margin-top: 25px;
                    }
                }
            }
        }
    }
    &__release {
        padding: 100px 0;
        &__title {
            @include title_h2(left);
            @include title_p(left);
            margin-bottom: 60px;
        }
        &__pcards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .card-exp {
                flex: 0 0 100%;
                max-width: 100%;
                height: 330px;
                min-height: 0;
                padding: 0 0px 30px;
                @media (min-width: 400px) {
                    min-height: 24rem;
                    height: auto;
                    padding: 0 15px 30px;
                }
                @media (min-width: 600px) {
                    flex: 0 0 50%;
                    min-height: 24rem;
                    max-width: 50%;
                    min-height: 24rem;
                    height: auto;
                    padding: 0 15px 30px;
                }
                @media (min-width: 1015px) {
                    flex: 0 0 33.33333333%;
                    max-width: 33.33333333%;
                    min-height: 24rem;
                    height: auto;
                    padding: 0 15px 30px;
                }
                &__inside {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    transform-style: preserve-3d;
                    transform-origin: center right;
                    transition: transform 1s;
                    overflow: hidden;
                    &:hover {
                        transform: translateY(-12px);
                        box-shadow: 10px 20px 14px 0 rgba(64,69,74,.1);
                        &:before {
                            bottom: 70%;
                        }
                        .card-exp__inside__cta {
                            transform: translateY(-1000%);
                        }
                        .card-exp__inside__back {
                            .info-exp-main {
                                .btn {
                                    transform: translateY(0);
                                }
                            }
                            .info-exp-sec {
                                max-height: 70%;
                            }
                        }
                    }
                    &:before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                        content: '';
                        background-image: linear-gradient(-180deg,rgba(96,134,208,0) 0,#324ea3 100%);
                        transition: bottom .4s ease-in-out;
                    }
                    &__cta {
                        position: absolute;
                        top: 25px;
                        left: 25px;
                        color: #fff;
                        background-color: #FFA72E;
                        border-color: #FFA72E;
                        font-size: 12px;
                        padding: 4px 10px;
                        transition: transform .4s ease-in-out;
                        z-index: 1;
                    }
                    &__img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    &__back {
                        position: relative;
                        z-index: 2;
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        .info-exp-main {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            padding: 25px;
                            p {
                                font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                margin-top: auto;
                                margin-bottom: 0;
                                font-size: 10px;
                                color: rgba(255, 255, 255, .5);
                            }
                            h3 {
                                font-family: 'MuseoSans_500', Helvetica, sans-serif;
                                color: #fff;
                                margin-bottom: 0px;
                                font-size: 21px;
                                width: 100%;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                @media (min-width: 1200px) {
                                    font-size: 24px;
                                }
                            }
                            .btn {
                                position: absolute;
                                top: auto;
                                left: 25px;
                                bottom: -.8125rem;
                                z-index: 1;
                                transform: translateY(100%);
                                transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
                                color: #fff;
                                background-color: #FFA72E;
                                border-color: #FFA72E;
                                font-size: 12px;
                                padding: 4px 10px;
                            }
                        }
                        .info-exp-sec {
                            overflow: hidden;
                            max-height: 0;
                            transition: max-height .4s ease-in-out;
                            height: 100%;
                            background-color: #fff;
                            &__inside {
                                height: 100%;
                                padding: 25px;
                                p {
                                    font-family: 'MuseoSans_300', Helvetica, sans-serif;
                                    font-size: 12px;
                                    height: 122px;
                                    overflow: hidden;
                                    @media (min-width: 400px) {
                                        height: 168px;
                                        font-size: 14px;
                                    }
                                    @media (min-width: 1200px) {
                                        font-size: 16px;
                                        height: 168px;
                                    }
                                }
                                a {
                                    font-family: 'MuseoSans_700', Helvetica, sans-serif;
                                    font-size: 16px;
                                    color: #324ea3;
                                    display: inline-flex;
                                    align-items: center;
                                    &:after {
                                        content: '';
                                        display: inline-block;
                                        width: .5625rem;
                                        height: .875rem;
                                        margin-left: .4375rem;
                                        background: url('images/icons/caret-right.svg') no-repeat;
                                    }
                                    @media (min-width: 1200px) {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}